<%if flash[:success]%>
<h3 style="color:green;"><%=flash[:success]%></h3>
<%end%>

<%if flash[:updated]%>
<h3 style="color:green;"><%=flash[:updated]%></h3>
<%end%>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooney Consulting & Recruiting</title>
    <style>
      .logout-button {
        background-color: #f44336; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      .submit-button {
        background-color: #008CBA; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      .manager-buttons a{
        text-decoration: none;
        color: white;
      }

      li.posting-buttons * {
        display: inline-block;
      }

      li.posting-buttons button {
        background-color: grey; 
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
      }

      li.posting-buttons a {
        color: white;
        text-decoration: none;
      }

    </style>
</head>
<body>
<h1>Welcome, <%=current_user.username%>! Manage Job Postings</h1>
<div class="manager-buttons">
  <a href="/logout" class="logout-button" >LOGOUT</a> <button class="submit-button"> <a href="/users/<%="#{current_user.slug}"%>/edit">Update Profile Info/Password</a></button> <button class="submit-button"> <a href="/users/new">Add New Manager</a></button>
</div>

 <h2>Your Current Listings:</h2><br>
<ul>
 <%@postings.each do |p|%>

 <li class = "posting-buttons"><strong><%=p.title%></strong> <%=p.location%>  <button class="button-2"><a href="/postings/<%="#{p.id}"%>/edit">Edit Posting</a></button> 
<form action="/postings/<%="#{p.id}"%>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="delete-button">Delete Posting</button>
  </form>
</li> 
 <p>Details: <%=p.details%></p>
 <%end%>
 </ul>


<h1>Add a job posting:</h1>

<form action="/postings/new" method="post">
<label for="posting[title]">Title:</label>
<input type="text" name="posting[title]"><br>
<label for="posting[location]">Location:</label>
<input type="text" name="posting[location]"><br>
<label for="posting[details]">Details:</label><br>
<textarea name="posting[details]" rows="6" cols="80">  Please enter any details here...</textarea><br>
<button type="submit" class="submit-button">SUBMIT</button>
</form>
<br>
<br>



  
</body>
</html>


